<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<strong>Articles: </strong>

	<br> <% @articles.each do |article| %>
	<a href = "/articles/<%=article.id%>"><%= article.title %></a> <br>
	<% end %>
<br>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
